.duration {
    display: flex;
    float: right;
}

.duration_child {
    padding-left: 10px;
    padding-right: 10px;
    margin-inline-start: 10px;
    width: max-content;
    border: 1px solid #858585;
    border-radius: 5px;
}

ion-grid {
    margin-inline: 3%;
}

.line {
    border: 1px solid #858585;
}

ion-button {
    background-color: #eaeaea;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 600;
    text-transform: capitalize;
}

.slot_border {
    border-bottom: 1px solid #858585;
    font-weight: 600;
}
.slot {
    margin-inline: 3%;
    border: 1px solid #858585;
    border-radius: 10px;
}

ion-col.center {
    text-align: center;
}
ion-col.end {
    text-align: end;
}

ion-col.start {
    text-align: start;
}
ion-col.header {
    font-weight: 600;
}
ion-content {
    font-family: Roboto;
}

ion-title {
    text-align: center;
    font-family: Roboto;
    color: #000;
    font-weight: 800;
}
.col {
    display: flex;
    align-items: center;
}

.not_found {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ion-text-active{
    display: flex;
    margin-right: 3%;
    align-content: center;
    color: green;
    font-size: small;
    font-weight: bold;
}
.ion-text-notActive{
    display: flex;
    margin-right: 3%;
    align-content: center;
    color: red;
    font-size: small;
    font-weight: bold;
}
