<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{gameName}}</ion-title>
    <ion-text class="ion-text-active" slot="end" *ngIf="status">Connected</ion-text>
    <ion-text class="ion-text-notActive" slot="end" *ngIf="!status">No Connection</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="header">
        {{gameName}}
      </ion-col>
      <ion-col class="header">
        <div class="duration">
          Approx Waiting Time :
          <div class="duration_child" id="open-custom-dialog">{{displayTime}} Hours</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="slot">
    <ion-row class="slot_border">
      <ion-col size="3">Player Name</ion-col>
      <ion-col size="3">Phone No.</ion-col>
      <ion-col size="3">Players</ion-col>
      <ion-col size="3" class="end">Quick Access</ion-col>
    </ion-row>

    <ion-row *ngFor="let data of player; let i = index">
      <ion-col class="col" size="3">{{data.name}}</ion-col>
      <ion-col class="col" size="3">{{data.phone}}</ion-col>
      <ion-col class="col" size="1.5">{{data.playerCount}}</ion-col>
      <ion-col class="col" class="end" size="4.5">
        <ion-button fill="clear" size="small" (click)="up(i)">
          <ion-icon src="assets/up.svg"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="down(i)">
          <ion-icon src="assets/down.svg"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small">Notify</ion-button>
        <ion-button fill="clear" size="small" (click)="registerAndAllocatePlayer(i)">Arrived</ion-button>

      </ion-col>
    </ion-row>

    <div *ngIf="player.length === 0" class="not_found">
      <ion-img src="assets/not-found.png" style="width: 5%; height: 5%;"></ion-img>
    </div>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openDialog()">

      <ion-icon src="assets/add.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1 class="modal_header">Approx Waiting Time</h1>
        <ion-row class="timer">
          <ion-col size="4">
            <ion-button fill="clear" expand="full" (click)="minus()" >
              <ion-icon size="large" src="assets/minus.svg"></ion-icon>
            </ion-button>
          </ion-col>
        <ion-col size="3">
          <ion-button size="large" class="time" fill="clear" expand="full">
           {{displayTime}}
          </ion-button>
        </ion-col>
          <ion-col size="4">
            <ion-button fill="clear" expand="full" (click)="add()">
              <ion-icon  size="large" src="assets/plus.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="timer">
          <ion-col size="5"><ion-button class="button_cancel" fill="clear" expand="full">Cancel</ion-button></ion-col>
          <ion-col size="5"><ion-button class="button_save" fill="clear" expand="full">Save</ion-button></ion-col>
        </ion-row>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>