<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Bowling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="header">
        Bowling
      </ion-col>
      <ion-col class="header">
        <div class="duration">
          Approx Waiting Time :
          <div class="duration_child">1.5 Hours</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="slot">
    <ion-row class="slot_border">
      <ion-col size="3">Player Name</ion-col>
      <ion-col size="3">Phone No.</ion-col>
      <ion-col size="3">Players</ion-col>
      <ion-col size="3" class="end">Quick Access</ion-col>
    </ion-row>

    <ion-row *ngFor="let data of player; let i = index">
      <ion-col class="col" size="3">{{data.name}}</ion-col>
      <ion-col class="col" size="3">{{data.phone}}</ion-col>
      <ion-col class="col" size="1.5">{{data.playerCount}}</ion-col>
      <ion-col class="col" class="end" size="4.5">
        <ion-button fill="clear" size="small">Notify</ion-button>
        <ion-button fill="clear" size="small">Arrived</ion-button>
        <ion-button fill="clear" size="small"><</ion-button>
        <ion-button fill="clear" size="small">></ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="player.length === 0" class="not_found">
      <ion-img src="assets/not-found.png" style="width: 5%; height: 5%;"></ion-img>
    </div>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openDialog()">
      Add Slot
      <!-- <ion-icon name="add"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
</ion-content>