<ion-header >
  <ion-toolbar>
    <ion-title>Loco Bear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [routerLink]="['laser']">
    <ion-card-content>
      <ion-card-title>
        Laser Tag
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['cricket']">
    <ion-card-content>
      <ion-card-title>
        Cricket
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['shooting']">
    <ion-card-content>
      <ion-card-title>
        Shooting
      </ion-card-title>
    </ion-card-content>
  </ion-card>


  <ion-card [routerLink]="['bowling']">
    <ion-card-content>
      <ion-card-title>
        Bowling
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>
